@model UserProfileViewModel

@{
    var currentUsername = Context.Session.GetString("CurrentUser");
}


<div class="row bg-secondary shadow rounded-3" style="height: calc(100% - 50px); overflow-y:hidden;">
    <div class="d-flex justify-content-start flex-column p-3" style="width:15%;">
        <img src="~/images/user-128-light.png" style="margin-bottom: 15px;" />
        <div class="d-flex flex-column align-items-center text-light bg-light bg-opacity-25 p-3 rounded-3 shadow">
            <p class="m-2">@Model.Username</p>
            <p class="m-2">@Model.FirstName</p>
            <p class="m-2">@Model.LastName</p>
            <p class="m-2">@Model.Email</p>
            <p class="m-2">@Model.PhoneNumber</p>
        </div>

        @if (currentUsername == Model.Username)
        {
            <a class="btn text-light bg-light bg-opacity-25 my-4 shadow" asp-controller="Users" asp-action="Edit" asp-route-username="@currentUsername"> Edit Profile </a>
        }
        
    </div>
    <div class="col bg-light bg-opacity-25" style="overflow-y:auto; height: 100%">
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostCardTemplate", post)

        }       
    </div>
</div>
