@model List<AutomotiveForumSystem.Models.ViewModels.PostDataViewModel>

<h4 style="color: #fff">Welcome to Automotive Forum System</h4>
<p style="color: #fff">The current time is @DateTime.Now</p>

<hr style="background-color: #fff" />

@{
	foreach (var post in Model)
	{
		<a asp-controller="Home" asp-action="Index" class="btn card bg-secondary m-5">
			<div class="card-body d-flex justify-content-left row" style="color: #fff">
				<h5 class="card-title row">@post.Title</h5>
				<h6 class="card-subtitle row mb-2">@post.CategoryName</h6>

				<div class="d-flex">
					<span><img src="~/images/like.png" alt="Post Image" class="img-fluid" /></span>
					<span class="card-text m-1">@post.Likes</span>
				</div>

				<span class="card-text" style="text-align: right">@post.CreatedBy</span>
			</div>
		</a>
	}
}