@{
	var categoryLabels = ViewData["CategoryLabels"] as List<CategoryLabelViewModel>;
	var totalPostCount = ViewData["TotalPostsCount"];
	var membersCount = ViewData["MembersCount"];
	var currentUserName = Context.Session.GetString("CurrentUser");
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Automotive Forum</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<div class="d-flex vh-100 overflow-hidden">

		<nav class="bg-dark px-2 py-2 col-auto navbar-dark">
			<div class="px-2 py-2" style="margin-bottom:60px">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">Automotive Forum</a>

			</div>

			<div class="nav m-3 flex-column px-2 navbar-text position-relative">
				<div>
					<h5><span class="badge bg-secondary">Categories</span></h5>
				</div>
				@{
					if (categoryLabels != null)
					{
						foreach (var @c in categoryLabels)
						{
							<div class="nav-item row">
								<a style="margin-left:14px" asp-controller="Home" asp-action="PostsByCategory" asp-route-id="@c.Id" class="nav-link active col" aria-current="page">@c.Name</a>
								<span style="margin-left:0px; margin-top: 10px" class="position-absolute badge col-auto start-80 rounded-pill bg-secondary">@c.PostsCount</span>
							</div>
						}
					}
				}
			</div>

			<footer class="footer text-muted m-4 px-2 py-2 position-fixed bottom-0">
				<div class="clock-container">
					<div id="clock"></div>
				</div>
				<div class="text-left">
					<small>© Copyright @DateTime.Now.Year <br /> Automotive Forum</small>
				</div>
			</footer>
		</nav>

		<div class="container-fluid col px-0">
			<header>
				<nav class="navbar navbar-expand-lg navbar-light fs-5" style="background-color: #DCE0D9;">
					<div class="container-fluid">

						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarText">
							<div class="navbar-nav me-auto mb-2 mb-lg-0">
								<span class="navbar-text p-2">Members: @membersCount</span>
								<span class="navbar-text p-2">Posts: @totalPostCount</span>
							</div>

							@{
								if (currentUserName == null)
								{
									<a type="button" class="navbar-text btn btn-outline-dark nav-login-button" asp-controller="Auth" asp-action="Login">Login</a>
								}
								else
								{
									<p>@currentUserName</p>
									<a type="button" class="navbar-text btn btn-outline-dark nav-login-button" asp-controller="Auth" asp-action="Logout" onclick="return confirm('Are you sure you want to log out?')">Logout</a>
								}
							}
						</div>
					</div>
				</nav>
			</header>

			<main role="main" style="overflow-y:auto; height:100%">
				<div class="mx-5 my-5" style="padding-bottom: 2%">

					@RenderBody()
				</div>
			</main>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>